<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>로그인, 로그아웃</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		//회원가입이 실패했을 때
		$(document).ready(function(){
			var errorMessage = [[${errorMessage}]];	//중괄호로 감싸서 값을 받아온다.
			if(errorMessage != null) {
				alert(errorMessage);
			}
		});
	</script>
</th:block>

<th:block layout:fragment="css">
	<style>
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="content">
		<!-- Contact Start -->
		<div class="container-xxl py-5">
			<div class="container"></div>
			<div>
				<div class=" col-md-auto wow fadeInUp" data-wow-delay="0.1s">
					<h1 class="display-5 mb-4">회원가입</h1>
					<!-- 회원가입 폼 -->
					<form role="form" action="/member/new" method="post" th:object="${memberDto}">
						<div class="row g-3">
							<div class="col-12">
								<div class="form-floating">
									<input th:field="*{email}" type="email" class="form-control bg-light border-0" id="email" placeholder="Your Email" /> 
									<label th:for="email">이메일</label>
									<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Data</p>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input th:field="*{name}" type="text" class="form-control bg-light border-0" id="name" placeholder="Your name" /> 
									<label th:for="name">이름</label>
									<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Data</p>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input th:field="*{password}" type="password" class="form-control bg-light border-0" id="subject" placeholder="password" /> 
									<label th:for="password">비밀번호</label>
									<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect Data</p>
								</div>
							</div>
							<div class="col-12">
								<button class="btn btn-primary w-100 py-3" type="submit">회원가입</button>
							</div>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
					<!-- 회원가입 폼 end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Contact End -->
</body>
</html>