@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	min-height: 100%;
}

footer {
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 30px;
}

.my_footer {
	color: white;
}


